<div class="d-flex top-menu">
	<a routerLink="/sms" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'send_sms' | translate}}</a>
	<a routerLink="/sms/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'kontakti' | translate}}</a>
	<a routerLink="/sms/group" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'groups' | translate}}</a>
	@if(is_detailing) {
	<a routerLink="/sms/detailing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'detailing' | translate}}</a>
	}
	<a routerLink="/sms/texts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'my_text' | translate}}</a>
	<a routerLink="/sms/prices" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'prices' | translate}}</a>
	<a routerLink="/sms/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'sms_shluz' | translate}}</a>
	@if(is_nick) {
	<a routerLink="/sms/request" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'Заявка на Ник (альфа имя)' | translate}}</a>
	}
	<a routerLink="/sms/target" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">SMS Target</a>
	<a routerLink="/sms/integrates" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{'Интеграции системы' | translate}} <span class="badge badge-danger">New</span></a>
</div>

